.button {
    &--width-full {
        width: 100%;
    }

    &--sent:hover {
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 7px 10px 0 rgba(0,0,0,0.19);
    }

    &--active {
        background: #fff;
        color: #009688;

        &:hover{
            color: #fff;
        }
    }
}


