<md-card flex style="margin: 40px 30%;">
    <div class="card-header" style="background-color: LightSkyBlue;"><h2>Přihlášení do systému</h2></div>
    <md-card-content>
        <form>
        <table style="width: 100%" cellspacing="0">
            <tr>
                <td><md-input placeholder="Email"></md-input></td>
            </tr>
            <tr>
                <td><md-input placeholder="Heslo"></md-input></td>
            </tr>
            <tr>
                <td><button md-raised-button style="background-color: LightSkyBlue;" class="button button--sent"
                            (click)="btnLoginForm('login')">Přihlásit</button></td>
            </tr>
        </table>
        </form>
    </md-card-content>
</md-card>

        