<md-grid-list cols="2" [style.background]="'lightblue'">
    <md-grid-tile>
        <md-card style="margin: 40px 30%;">
            <button md-mini-fab style="top: 15px; right: 12px;"><md-icon class="md-24">add</md-icon></button>
            <div class="header"><h2>My Heroes</h2></div>   
            <md-card-content>     
                <table id="tbl-heroes">
                <!--<thead>
                    <tr>
                    <th></th>
                    <th>Header</th>
                    <th>Header</th>
                    <th>Header</th>
                    </tr>
                </thead>-->
                <tbody>
                    <tr *ngFor="let hero of heroes"
                        [class.selected]="hero === selectedHero">
                    <td id="id">{{hero.id}}</td>
                    <td (click)="onSelect(hero)">{{hero.name}}</td>
                    <td (click)="gotoDetail()"><i class="material-icons">mode_edit</i></td>
                    <td><i class="material-icons">delete_forever</i></td>
                    </tr>
                </tbody>
                </table>
            </md-card-content>
        </md-card>
    </md-grid-tile>
    <md-grid-tile>
        <my-hero-detail [hero]="selectedHero"></my-hero-detail>
    </md-grid-tile>
</md-grid-list>

    