<md-grid-list cols="2" [style.background]="'lightblue'">
    <md-grid-tile>
        <md-card style="margin: 40px 30%;">
            <!--<div class="card-header"><h1>{{title}}</h1></div>-->
            <md-card-title style="background-color: LightSkyBlue;">My Heroes</md-card-title>   
            <md-card-content>        
                <ul class="heroes">
                    <li *ngFor="let hero of heroes"
                        [class.selected]="hero === selectedHero"
                        (click)="onSelect(hero)">
                        <span class="badge">{{hero.id}}</span> {{hero.name}}
                    </li>
                </ul>
                <!--<my-hero-detail [hero]="selectedHero"></my-hero-detail>-->
                <div *ngIf="selectedHero">
                    <h2>{{selectedHero.name | uppercase}} is my hero</h2>
                    <button md-raised-button style="background-color: LightSkyBlue;" (click)="gotoDetail()">View Details</button>
                </div>
            </md-card-content>
        </md-card>

    </md-grid-tile>
    <md-grid-tile>
        <my-hero-detail [hero]="selectedHero"></my-hero-detail>
    </md-grid-tile>
</md-grid-list>

